@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

.favorites-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.favorites-header {
	font-family: 'Sonsie One', cursive;font-style: normal;
	border: 3px solid lightgray;
	border-radius: 6px;
	color: lightgrey;
	margin: 20px 0px 30px;
	padding: 10px;
}