.grid {
	display: grid;
	justify-content: center;
	margin: 50px 0px 0px
}

.grid.home {
	width: 80%;
	grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
	grid-gap: 10px;
}

.grid.favorites {
	width: 100%;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	grid-gap: 20px;
}

.grid.subscriptions {
	width: 100%;
	grid-template-columns: repeat(auto, 250px);
	grid-gap: 30px;
}