.card.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px, 10px, 10px;
  background-color: rgb(16, 16, 16);
  padding: 11px;
  transition: ease 0.3s;

  &:hover {
    transform: scale(1.03);
  }
  
  .card-img {
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }

  .card-title {
    height: 50%;
    font-size: 20px;
  }
}

.card.favorites {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 250px;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px, 10px, 10px;
  background-color: rgb(16, 16, 16);
  padding: 11px;
  transition: ease 0.3s;

  &:hover {
    transform: scale(1.03);
  }
  
  .card-img {
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }

  .card-title {
    height: 50%;
    font-size: 20px;
  }

}

.favorited.active {
  background-color: red;
}

.favorited.inactive {
  background-color: white;
}