@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

.nav {
	height: 50px;
	display: flex;
	flex-direction: row;
	background-color: rgb(0, 0, 0);
	width: 100%;
}

.space-out {
font-family: 'Sonsie One', cursive;font-style: normal;
font-weight: normal;
font-size: 40px;
width: 50%;
color: lightgrey;
}

.nav-link {
	color: lightgrey;
	text-decoration: none;
	margin: 15px 10px 0px;
	font-size: 20px;
	font-weight: 600;
	transition: 0.5s ease;
}

.nav-link:hover {
	color: rgb(255, 162, 0);
}

.nav-link.active{
	color: rgb(255, 162, 0);
}
