.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: lightgrey;
  font-family: 'Roboto', sans-serif;
  background: rgb(32, 32, 58);
  background: linear-gradient(153deg, rgb(30, 30, 43) 0%, rgb(45, 52, 87) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App.error {
  pointer-events: none;
}
